body {
  background-color: #750707;
  margin: 20px 100px 0 100px;
}

.main {
  width: 100%;
  padding: 0 25px 20px 0;
  margin: 0 auto;
  border: 1px solid gray;
}

image {
  margin: 20px 20px 20px 20px;
  width: 200px;
  height: 200px;
  float: left;
}

h1 {
  text-align: center;
  width: 50px;
  margin: 50px 0 100px 70px;

}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 20px 0;
  float: left;
  margin: 20px 0 20px 0;
}

.nameandimage {
  margin: 0 0 0 0;
  width: 200px;

  float: left;
}

.thebox {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.form {
  width: 350px;
  margin: 0 auto;
}

.imagebox {
  margin: 20px 20px 20px 20px;
  width: 200px;
  height: 200px;
  float: left;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
